@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
    --align-items: center;
    --active-color: #131313;
}
*{
    box-sizing: border-box;
}

body{
    font-family: "Oswald", sans-serif;
}

a{
    text-decoration: none;
}
 /*Шапка сайта*/
header{
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 40px 40px;
    display: flex;
    align-items: var(--align-items);
    justify-content: space-between;
}

.logo{
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    color: #66FF00;
}
/*Навигация*/
nav{
    display: flex;
    flex-direction: row;
    align-items: var(--align-items);
    gap:30px;
}

nav a{
    color: var(--active-color);
    font-size: 25px;
    text-align: center;
}

button{
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}
/*Социальные сети и специальные символы
*/
.btn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: var(--align-items);
    position: relative;
}
.btn img {
    width: 40px;
    gap: 10px;
}


button:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.lang{
    display: flex;
    align-items: var(--align-items);
    gap: 3px;
}
/*Скрытое меню*/
.burger-btn{
    background: transparent;
    padding: 0;
    display: none;
}
/*Меню*/
.hero{
    height: 400px;
    background-image: url(../images/centr.jpeg);
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 20px;
    
}

.hero-choose{
    padding: 15px 10px;
    width: 235px;
    height: 100px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-choose h4{
    line-height: 160%;
}

.hero-choose select{
    background: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}

.hero-choose:nth-child(1){
    background: #FF4500;
}

.hero-choose:nth-child(2){
    background: #FFA500;
}

.hero-choose:nth-child(3){
    background: #FFFF00;
}

.hero-choose:nth-child(4){
    background: #9ACD32;
}


.about-us {
    margin: 100px auto;
    max-width: 1080px;
    padding: 0px 30px;
    line-height: 150%;
    text-align: center;
}

.r1 {
    text-align: center;
    padding: 20px;
}

.r2 {
    text-align: center;
    padding: 20px;
}
h2{
    font-size: 64px;
    font-family: 'Times New Roman', Times, serif;
    color: #66FF00;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
}

.about-us p{
    margin: 30px 0px;
    text-indent: 40px;
    color: var(--active-color);
}

.cards{
    display: flex;
    flex-direction:row;
    align-items: var(--align-items);
    justify-content: space-between;
    gap: 10px;
}

.card{
    position: relative;
}

.card-date{
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: var(--align-items);
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.card-date-day{
    font-size: 30px;
}

.card_im_1, .card_im_2, .card_im_3{
    max-width: 480px;
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}


.card-body{
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
}

.card-body h4{
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
}
/*карта и контакты*/


.contact-us {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
}

.content-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.map-container {
    flex: 1 1 560px;
    max-width: 560px;
    border: 5px;
    border-radius: 8px;
}

.map-container a {
    color: var(--active-color);
}

.form-container {
    flex: 1 1 400px;
    max-width: 400px;
}

.form-container h3 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: var(--active-color);

}
.feedback input,
.feedback textarea {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
}

.feedback label {
    display: block;
    margin-top: 12px;
    font-weight: 500;
}

.contact-us button{
    width: 300px;
    display: block;
    margin: 10px auto;
    background-color: #0000FF;
}
/*Подвал*/
footer{
    background: rgba(12, 192, 12, 0.97);
    padding: 60px;
}

.footer-body{
    max-width: 1400px;
    margin: 0px auto;
}

.footer-body h3{
    color: white;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-style: 600;
}

.footer-body-links{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px 30px;
}

.footer-body-links ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-body-links a{
    font-weight: 100;
    color: #FFFFFF;


}

.footer-body-links h4{
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;

}

.footer-polisy{
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 2px solid #FFFFFF;
    padding: 15px 0px 32px;
}

.footer-polisy a{
    color: #FFFFFF;
    font-weight: 100;
}
.rights{
    font-weight: 100;
    opacity: 0.5;
    color: #FFFFFF;
}
/*Адаптация*/
@media (min-width: 1600px) {
    .container {
        max-width: 1580px;
    }
    .logo{
    font-size: 72px;
    }

}

@media screen and (max-width: 992px){
    .burger-btn{
        display: block;
    }
    nav{
        display: none;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card img{
        height: 60vw;
    }
}

@media screen and (max-width: 768px) {
    .hero{
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }
    .hero button, .hero-choose{
        width: max(50%, 200px);
    }

    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .contact-form-fields{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 20px;
    }
    .contact-form{
        gap: 30px;
    }
    .form-container h3 {
        font-size: 20px;
    }

    .form-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .form-container h3,
    .feedback,
    .map-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    }

@media screen and (max-width: 550px) {
    .footer-body-links, .footer-polisy, .footer-social-media, .rights{
        display: none;
    }
    .footer-body h3{
        font-size: 22px;
    }
    .btn {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items:center;
    position: relative;
}
.btn img {
    width: 30px;
    gap: 10px;
}
.footer-body h3{
    color: #FFFFFF;
    font-size: 16px;
    text-align:justify;
    text-transform: uppercase;
    font-style: 400;
}
.about-us p{
    margin: 30px 0px;
    text-indent: 10px;
}

/*.content-wrapper .map-container .form-container {
    flex-direction: column;
    flex-wrap: wrap;
}*/
    
}
@media screen and (max-width: 450px) {

    header{
        display: flex;
        flex-direction: column;
        padding: 30 px;
    }

    .burger-btn img{
        max-width: 100px;

    }

    .logo{
        font-size: 16px;
    }
    h2{
        font-size: 20px;
    }
    .about-us p{
        font-size: 14px;
        margin: 14px 0px;
        color: rgb(87, 79, 79);
    }
    .card-date{
        width: 50px;
        height: 50px;
        font-size: 14px;
    }

    .card-date-day{
        font-size: 15px;
    
    }
    .contact-us button {
        width: max(50% 50px);
       
    }
}